.ingredients {
  display: flex;
  margin-top: 1rem;
}

.ingredients__list_name {
  padding-left: 1rem;
  list-style: none;
}

.ingredients__list_qty {
  list-style: none;
}

.ingredients__item {
  margin-top: 0.2rem;
}
